.comment-card {
	display: flex;
	margin: 0 1em;
	background: #363638;
	box-shadow: 0 0 0.5em #000;
	border-radius: 5px;
	padding-top: 10px;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	padding-bottom: 20px;
}

.vote-box {
	display: flex;
	flex-direction: column;
	flex-basis: 10%;
	text-align: center;
	margin-top: 10px;
	/* margin-right: 10px; */
	/* margin-left: 10px; */
	/* background-color: #0000003f !important; */
}

.vote-box p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.comment-content {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 20px;
	width: 80%;
}

.comment-text {
	max-width: 60vw;
	word-wrap: break-word;
	height: 100%;
}

.comment-text span {
	color: #b2a5ff;
}

.comment-delete {
	padding: 1em;
	align-self: center;
	opacity: 0.1;
	transition: 200ms ease;
}

.comment-delete:hover {
	opacity: 1;
	color: #b2a5ff;
	cursor: pointer;
}

.card-footer {
	justify-content: left;
}
