.post-card {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #363638;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding-top: 10px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-vote-box {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  align-items: center;
  margin-top: 10px;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  /* background-color: #0000003f !important; */
}

p {
  color: white;
}

.post-vote-box p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-content {
  display: block;
  max-width: 80%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 20px;
}

.post-text {
  max-height: 200px;
  overflow: hidden;
  /* overflow-y: ; */
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.card-footer {
  justify-content: left;
}

/* .vote-box button {
  height: 30px;
  width: 70px;
  border-radius: 15px;
} */

.fame {
  border: 2px solid #644aff;
  background-color: transparent;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px #644aff;
  transition: all 0.2s !important;
}

.fame:hover {
  box-shadow: inset 0px -80px 0px #644aff;
}

.lame {
  border: 2px solid #ffd25e;
  background-color: transparent;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px #ffd25e;
  transition: all 0.2s !important;
}

.lame:hover {
  box-shadow: inset 0px 80px 0px #ffd25e;
}

@media screen and (max-width: 700px) {
  .post-card {
    flex-direction: column-reverse;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
  }

  .post-vote-box {
    flex-direction: row;
  }

  .post-vote-box p {
    margin-left: 10px;
    margin-right: 10px;
  }

  .post-content {
    max-width: 90%;
    margin-right: 10px;
  }

  .title {
    font-size: 20px;
  }
}
