.page {
	box-sizing: border-box;
	max-width: 70vw;
	margin: auto;
	color: black;
	display: grid;
	gap: 1em;
	color: #fff;
}

.page--content {
	background-color: #4b4b4f;
	display: grid;
	grid-template-columns: 10% 90%;
	grid-template-rows: 20% 80%;
	box-shadow: 0 0 0.5em #000;
}

.page--content--title {
	text-align: center;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background-color: #000;
	padding-top: 2em;
	padding-bottom: 3em;
}

.page--content--body {
	align-self: flex-start;
	justify-self: flex-start;
	margin-top: 2em;
	padding: 2em;
	grid-column: 2 / 3;
	grid-row: 2 / 2;
}

.page--content--likedislike {
	background-color: #262629;
	grid-row: span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page--comments {
	background-color: #4b4b4f;
	box-shadow: 0 0 0.5em #000;
}

.page--comments--top {
	background-color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em;
}

.page--comments--top--input {
	margin-top: 2em;
	max-width: 90%;
	min-width: 90%;
	max-height: 50vh;
	min-height: 5vh;
}

.page--comments--top--input::placeholder {
	font-size: 1.5em;
	text-align: center;
}
.page--comments--commentlist > * {
	list-style: none;
	padding: 2em;
	margin-left: 1em;
}
