.navbar{
    height: 70px;
}
.navbaritems{
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgb(37, 37, 37);
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar a{
    color:white;
    text-decoration: none;

}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar input{
    width:  clamp(30vw, calc(30vw + 0.5rem), 40vw);
    padding: 5px;  
    display: block;
    border-radius: 3px;
    margin-top: 4px;
    margin-left: 5vw;
}

.clearform {
    background-color: transparent;
    color: black;
    box-shadow: 0;
    margin: 0;
    justify-self: center;
    margin-top: 4px;
    padding: 2px 9px;
    transform: translateX(-30px);
    border-style: none;
    box-shadow: none;

}
.searchbar-placeholder{
    width:  clamp(30vw, calc(30vw + 0.5rem), 40vw);
    padding: 5px;  
}
.navbarlinks{
    display: grid;
    grid-template-columns: repeat(5,auto);
    list-style: none;
    text-align: center;
    width: 30vw;
    justify-content: end;
    margin-right: 1.2rem;
    padding-left: 3vw;
}
.navbarlinks a{
    padding: 5px;
    font-size: 1rem;
}
.navbarlinks a:hover{
    background-color: rgb(58, 58, 58);
    border-radius: 8px;
    transition: all 0.2s ease-out;
}